<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Controle</title>
</head>

<body>
  <div class="card">
    <header>
      <h1>Informações de entrada</h1>
      <button class="btn btn-success"><a href="/entrada">Entrada</a></button>
      <img class="porta-icon" src="/public/images/entrada.png" alt="">
    </header>

    <main>
      <% dados_entrada.forEach(function(dados_entrada) { %>
        <form>
          <div class="title">
            <br>
            <br>
            <br>
            <h2>Visualização dos dados de entrada</h2>
            <br>
            <span>Informações gerais.</span>
          </div>

          <div class="card">
            <div class="lineInput">
              <label for="">ID = <%= dados_entrada.id %></label>
            </div>
            <div class="lineInput">
              <label for="">Produto = <%= dados_entrada.produto %></label>
            </div>
            <div class="lineInput">
              <label for="">Peso = <%= dados_entrada.peso%></label>
            </div>
            <div class="lineInput">
              <label for="">Qualidade = <%= dados_entrada.qualidade %></label>
            </div>
            <div class="lineInput">
              <label for="">Data de entrada = <%= dados_entrada.data_entrada %></label>
            </div>
            <div class="lineInput">
              <label for="">Empresa = <%= dados_entrada.empresa %></label>
            </div>
            <div class="lineInput">
              <label for="">CNPJ da empresa = <%= dados_entrada.cnpj %></label>
            </div>
            <div class="lineInput">
              <label for="">Placa do veículo = <%= dados_entrada.placa %></label>
            </div>
            <div class="lineInput">
              <label for="">Nome do Motorista = <%= dados_entrada.motorista %></label>
            </div>
          </div>
        </form><!-- form -->
        <% }); %>
    </main>
  </div>
</body>

</html>